<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>euro</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>IJ</string>
		<string>J</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1.N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>Eng</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>dollar</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>yen</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acaron.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
	</array>
	<key>public.kern1.asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>c.ss01</string>
		<string>cacute.ss01</string>
		<string>ccaron.ss01</string>
		<string>ccedilla.ss01</string>
		<string>cdotaccent.ss01</string>
		<string>cent</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d</string>
		<string>dcroat</string>
		<string>d.ss01</string>
		<string>dcroat.ss01</string>
	</array>
	<key>public.kern1.dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
		<string>dcaron.ss01</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>oe</string>
		<string>e.ss01</string>
		<string>eacute.ss01</string>
		<string>ecaron.ss01</string>
		<string>ecircumflex.ss01</string>
		<string>edieresis.ss01</string>
		<string>edotaccent.ss01</string>
		<string>egrave.ss01</string>
		<string>emacron.ss01</string>
		<string>eogonek.ss01</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gcommaaccent.ss01</string>
		<string>gdotaccent.ss01</string>
	</array>
	<key>public.kern1.guilleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1.guilright</key>
	<array>
		<string>guillemetright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>f_i</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>ij</string>
		<string>j</string>
		<string>jdotless</string>
		<string>eng</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>f_l</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>f_h</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>b</string>
		<string>eth</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>f_b</string>
		<string>at</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern1.quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tcommaaccent</string>
	</array>
	<key>public.kern1.tcaron</key>
	<array>
		<string>tcaron</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>public.kern2.N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>Eng</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>dollar</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>yen</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acaron.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
	</array>
	<key>public.kern2.asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>f_b</string>
		<string>f_h</string>
		<string>f_i</string>
		<string>f_l</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gcommaaccent.ss01</string>
		<string>gdotaccent.ss01</string>
	</array>
	<key>public.kern2.guilleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.guilright</key>
	<array>
		<string>guillemetright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>thorn</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
		<string>jdotless</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>c.ss01</string>
		<string>cacute.ss01</string>
		<string>ccaron.ss01</string>
		<string>ccedilla.ss01</string>
		<string>cdotaccent.ss01</string>
		<string>d.ss01</string>
		<string>dcaron.ss01</string>
		<string>dcroat.ss01</string>
		<string>e.ss01</string>
		<string>eacute.ss01</string>
		<string>ecaron.ss01</string>
		<string>ecircumflex.ss01</string>
		<string>edieresis.ss01</string>
		<string>edotaccent.ss01</string>
		<string>egrave.ss01</string>
		<string>emacron.ss01</string>
		<string>eogonek.ss01</string>
		<string>at</string>
		<string>cent</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern2.quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>public.kern2.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>