<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<integer>-12</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>public.kern2.H</key>
		<integer>-8</integer>
		<key>public.kern2.T</key>
		<integer>-12</integer>
		<key>public.kern2.U</key>
		<integer>-12</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-28</integer>
		<key>public.kern2.o</key>
		<integer>8</integer>
		<key>public.kern2.quoteright</key>
		<integer>-20</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-20</integer>
		<key>public.kern2.w</key>
		<integer>-15</integer>
		<key>public.kern2.y</key>
		<integer>-22</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-6</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>V</key>
		<integer>6</integer>
		<key>X</key>
		<integer>-28</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-38</integer>
		<key>public.kern2.O</key>
		<integer>-6</integer>
		<key>public.kern2.W</key>
		<integer>6</integer>
		<key>public.kern2.Y</key>
		<integer>-8</integer>
		<key>public.kern2.a</key>
		<integer>-32</integer>
		<key>public.kern2.g</key>
		<integer>-54</integer>
		<key>public.kern2.i</key>
		<integer>-12</integer>
		<key>public.kern2.j</key>
		<integer>-12</integer>
		<key>public.kern2.n</key>
		<integer>-32</integer>
		<key>public.kern2.o</key>
		<integer>-46</integer>
		<key>public.kern2.period</key>
		<integer>-48</integer>
		<key>public.kern2.quoteright</key>
		<integer>20</integer>
		<key>public.kern2.quotesingle</key>
		<integer>20</integer>
		<key>public.kern2.s</key>
		<integer>-36</integer>
		<key>public.kern2.w</key>
		<integer>-24</integer>
		<key>public.kern2.y</key>
		<integer>-24</integer>
		<key>public.kern2.z</key>
		<integer>-30</integer>
		<key>question</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-24</integer>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>V</key>
		<integer>-18</integer>
		<key>X</key>
		<integer>-33</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.H</key>
		<integer>-8</integer>
		<key>public.kern2.O</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-12</integer>
		<key>public.kern2.U</key>
		<integer>-10</integer>
		<key>public.kern2.W</key>
		<integer>-18</integer>
		<key>public.kern2.Y</key>
		<integer>-28</integer>
		<key>public.kern2.hyphen</key>
		<integer>-12</integer>
		<key>public.kern2.i</key>
		<integer>-10</integer>
		<key>public.kern2.j</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>public.kern2.u</key>
		<integer>-16</integer>
		<key>public.kern2.w</key>
		<integer>-24</integer>
		<key>public.kern2.y</key>
		<integer>-24</integer>
		<key>slash</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-24</integer>
		<key>x</key>
		<integer>-16</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>X</key>
		<integer>-42</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.T</key>
		<integer>21</integer>
		<key>public.kern2.a</key>
		<integer>-14</integer>
		<key>public.kern2.g</key>
		<integer>-20</integer>
		<key>public.kern2.hyphen</key>
		<integer>-24</integer>
		<key>public.kern2.o</key>
		<integer>-18</integer>
		<key>public.kern2.period</key>
		<integer>-54</integer>
		<key>public.kern2.quoteright</key>
		<integer>18</integer>
		<key>public.kern2.quotesingle</key>
		<integer>10</integer>
		<key>public.kern2.s</key>
		<integer>-14</integer>
		<key>public.kern2.z</key>
		<integer>-14</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>M</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>-24</integer>
		<key>X</key>
		<integer>-52</integer>
		<key>exclam</key>
		<integer>12</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-68</integer>
		<key>public.kern2.H</key>
		<integer>-16</integer>
		<key>public.kern2.N</key>
		<integer>-18</integer>
		<key>public.kern2.O</key>
		<integer>-18</integer>
		<key>public.kern2.S</key>
		<integer>-19</integer>
		<key>public.kern2.U</key>
		<integer>-12</integer>
		<key>public.kern2.W</key>
		<integer>-24</integer>
		<key>public.kern2.Y</key>
		<integer>-24</integer>
		<key>public.kern2.a</key>
		<integer>-54</integer>
		<key>public.kern2.colon</key>
		<integer>-18</integer>
		<key>public.kern2.f</key>
		<integer>-24</integer>
		<key>public.kern2.g</key>
		<integer>-62</integer>
		<key>public.kern2.hyphen</key>
		<integer>-28</integer>
		<key>public.kern2.i</key>
		<integer>-24</integer>
		<key>public.kern2.j</key>
		<integer>-24</integer>
		<key>public.kern2.n</key>
		<integer>-48</integer>
		<key>public.kern2.o</key>
		<integer>-62</integer>
		<key>public.kern2.period</key>
		<integer>-54</integer>
		<key>public.kern2.quoteright</key>
		<integer>32</integer>
		<key>public.kern2.quotesingle</key>
		<integer>20</integer>
		<key>public.kern2.s</key>
		<integer>-50</integer>
		<key>public.kern2.t</key>
		<integer>-18</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>public.kern2.w</key>
		<integer>-36</integer>
		<key>public.kern2.y</key>
		<integer>-36</integer>
		<key>public.kern2.z</key>
		<integer>-58</integer>
		<key>question</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-36</integer>
		<key>x</key>
		<integer>-48</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>J</key>
		<integer>-30</integer>
		<key>M</key>
		<integer>-33</integer>
		<key>V</key>
		<integer>-48</integer>
		<key>X</key>
		<integer>-80</integer>
		<key>b</key>
		<integer>-24</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-80</integer>
		<key>public.kern2.H</key>
		<integer>-38</integer>
		<key>public.kern2.I</key>
		<integer>-30</integer>
		<key>public.kern2.N</key>
		<integer>-38</integer>
		<key>public.kern2.O</key>
		<integer>-64</integer>
		<key>public.kern2.S</key>
		<integer>-43</integer>
		<key>public.kern2.T</key>
		<integer>-36</integer>
		<key>public.kern2.U</key>
		<integer>-34</integer>
		<key>public.kern2.W</key>
		<integer>-46</integer>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.Z</key>
		<integer>-26</integer>
		<key>public.kern2.a</key>
		<integer>-42</integer>
		<key>public.kern2.f</key>
		<integer>-52</integer>
		<key>public.kern2.g</key>
		<integer>-52</integer>
		<key>public.kern2.h</key>
		<integer>-28</integer>
		<key>public.kern2.hyphen</key>
		<integer>-54</integer>
		<key>public.kern2.i</key>
		<integer>-52</integer>
		<key>public.kern2.j</key>
		<integer>-52</integer>
		<key>public.kern2.n</key>
		<integer>-36</integer>
		<key>public.kern2.o</key>
		<integer>-54</integer>
		<key>public.kern2.s</key>
		<integer>-36</integer>
		<key>public.kern2.t</key>
		<integer>-48</integer>
		<key>public.kern2.u</key>
		<integer>-48</integer>
		<key>public.kern2.w</key>
		<integer>-72</integer>
		<key>public.kern2.y</key>
		<integer>-72</integer>
		<key>public.kern2.z</key>
		<integer>-48</integer>
		<key>v</key>
		<integer>-72</integer>
		<key>x</key>
		<integer>-54</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>20</integer>
		<key>public.kern2.Y</key>
		<integer>20</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>20</integer>
		<key>public.kern2.Y</key>
		<integer>20</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-16</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-18</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>J</key>
		<integer>32</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>X</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-12</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-12</integer>
		<key>public.kern2.j</key>
		<integer>32</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>exclam</key>
		<integer>20</integer>
		<key>parenright</key>
		<integer>60</integer>
		<key>public.kern2.a</key>
		<integer>-24</integer>
		<key>public.kern2.g</key>
		<integer>-28</integer>
		<key>public.kern2.hyphen</key>
		<integer>-48</integer>
		<key>public.kern2.i</key>
		<integer>-28</integer>
		<key>public.kern2.n</key>
		<integer>-24</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
		<key>public.kern2.quoteright</key>
		<integer>40</integer>
		<key>public.kern2.quotesingle</key>
		<integer>40</integer>
		<key>public.kern2.s</key>
		<integer>-24</integer>
		<key>public.kern2.t</key>
		<integer>-20</integer>
		<key>public.kern2.u</key>
		<integer>-34</integer>
		<key>public.kern2.w</key>
		<integer>-38</integer>
		<key>public.kern2.y</key>
		<integer>-38</integer>
		<key>public.kern2.z</key>
		<integer>-32</integer>
		<key>question</key>
		<integer>60</integer>
		<key>slash</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-38</integer>
		<key>x</key>
		<integer>-26</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-32</integer>
		<key>public.kern2.quotesingle</key>
		<integer>12</integer>
		<key>seven</key>
		<integer>-18</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-10</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-18</integer>
		<key>seven</key>
		<integer>-14</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>five</key>
		<integer>-18</integer>
		<key>four</key>
		<integer>-12</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>seven</key>
		<integer>-16</integer>
		<key>two</key>
		<integer>-8</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>public.kern2.quotesingle</key>
		<integer>-18</integer>
		<key>seven</key>
		<integer>-18</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>J</key>
		<integer>20</integer>
		<key>M</key>
		<integer>20</integer>
		<key>V</key>
		<integer>20</integer>
		<key>X</key>
		<integer>20</integer>
		<key>b</key>
		<integer>20</integer>
		<key>public.kern2.H</key>
		<integer>20</integer>
		<key>public.kern2.N</key>
		<integer>20</integer>
		<key>public.kern2.T</key>
		<integer>20</integer>
		<key>public.kern2.U</key>
		<integer>20</integer>
		<key>public.kern2.W</key>
		<integer>20</integer>
		<key>public.kern2.Y</key>
		<integer>20</integer>
		<key>public.kern2.g</key>
		<integer>30</integer>
		<key>public.kern2.h</key>
		<integer>20</integer>
		<key>public.kern2.j</key>
		<integer>80</integer>
		<key>public.kern2.t</key>
		<integer>20</integer>
		<key>public.kern2.u</key>
		<integer>20</integer>
		<key>public.kern2.w</key>
		<integer>20</integer>
		<key>public.kern2.z</key>
		<integer>20</integer>
		<key>v</key>
		<integer>20</integer>
		<key>x</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>J</key>
		<integer>-12</integer>
		<key>V</key>
		<integer>-68</integer>
		<key>X</key>
		<integer>-80</integer>
		<key>public.kern2.A</key>
		<integer>-24</integer>
		<key>public.kern2.H</key>
		<integer>-10</integer>
		<key>public.kern2.I</key>
		<integer>-10</integer>
		<key>public.kern2.N</key>
		<integer>-10</integer>
		<key>public.kern2.O</key>
		<integer>-34</integer>
		<key>public.kern2.S</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-42</integer>
		<key>public.kern2.U</key>
		<integer>-36</integer>
		<key>public.kern2.W</key>
		<integer>-68</integer>
		<key>public.kern2.Y</key>
		<integer>-68</integer>
		<key>public.kern2.hyphen</key>
		<integer>-18</integer>
		<key>public.kern2.o</key>
		<integer>-12</integer>
		<key>public.kern2.quoteright</key>
		<integer>-90</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-80</integer>
		<key>public.kern2.t</key>
		<integer>-14</integer>
		<key>public.kern2.u</key>
		<integer>-8</integer>
		<key>public.kern2.w</key>
		<integer>-44</integer>
		<key>public.kern2.y</key>
		<integer>-50</integer>
		<key>slash</key>
		<integer>10</integer>
		<key>v</key>
		<integer>-48</integer>
		<key>x</key>
		<integer>-32</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>X</key>
		<integer>-22</integer>
		<key>parenright</key>
		<integer>40</integer>
		<key>public.kern2.A</key>
		<integer>-12</integer>
		<key>public.kern2.O</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-12</integer>
		<key>public.kern2.quoteright</key>
		<integer>20</integer>
		<key>public.kern2.u</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-24</integer>
		<key>public.kern2.z</key>
		<integer>-8</integer>
		<key>question</key>
		<integer>28</integer>
		<key>slash</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-24</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>V</key>
		<integer>-6</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.W</key>
		<integer>-6</integer>
		<key>public.kern2.Y</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-8</integer>
		<key>public.kern2.w</key>
		<integer>-24</integer>
		<key>public.kern2.y</key>
		<integer>-24</integer>
		<key>public.kern2.z</key>
		<integer>-8</integer>
		<key>question</key>
		<integer>14</integer>
		<key>slash</key>
		<integer>10</integer>
		<key>v</key>
		<integer>-24</integer>
	</dict>
	<key>public.kern1.G</key>
	<dict>
		<key>X</key>
		<integer>-38</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.H</key>
		<integer>-14</integer>
		<key>public.kern2.U</key>
		<integer>-14</integer>
		<key>public.kern2.Y</key>
		<integer>-12</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
		<key>public.kern2.quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>X</key>
		<integer>-28</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-16</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-12</integer>
		<key>public.kern2.i</key>
		<integer>-12</integer>
		<key>public.kern2.j</key>
		<integer>-12</integer>
		<key>public.kern2.o</key>
		<integer>-18</integer>
		<key>public.kern2.s</key>
		<integer>-12</integer>
		<key>public.kern2.u</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-18</integer>
		<key>public.kern2.y</key>
		<integer>-18</integer>
		<key>slash</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-18</integer>
	</dict>
	<key>public.kern1.I</key>
	<dict>
		<key>X</key>
		<integer>-30</integer>
		<key>public.kern2.A</key>
		<integer>-16</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>X</key>
		<integer>-38</integer>
		<key>public.kern2.A</key>
		<integer>-18</integer>
		<key>public.kern2.O</key>
		<integer>-18</integer>
		<key>public.kern2.S</key>
		<integer>-12</integer>
		<key>public.kern2.U</key>
		<integer>-8</integer>
		<key>public.kern2.Y</key>
		<integer>-38</integer>
		<key>public.kern2.a</key>
		<integer>-18</integer>
		<key>public.kern2.colon</key>
		<integer>-14</integer>
		<key>public.kern2.g</key>
		<integer>-16</integer>
		<key>public.kern2.i</key>
		<integer>-12</integer>
		<key>public.kern2.n</key>
		<integer>-18</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.s</key>
		<integer>-18</integer>
		<key>public.kern2.u</key>
		<integer>-18</integer>
		<key>public.kern2.w</key>
		<integer>-24</integer>
		<key>public.kern2.y</key>
		<integer>-24</integer>
		<key>public.kern2.z</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>-24</integer>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>M</key>
		<integer>-12</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.H</key>
		<integer>-12</integer>
		<key>public.kern2.N</key>
		<integer>-14</integer>
		<key>public.kern2.O</key>
		<integer>-46</integer>
		<key>public.kern2.S</key>
		<integer>-18</integer>
		<key>public.kern2.T</key>
		<integer>-18</integer>
		<key>public.kern2.U</key>
		<integer>-32</integer>
		<key>public.kern2.W</key>
		<integer>-32</integer>
		<key>public.kern2.Y</key>
		<integer>-40</integer>
		<key>public.kern2.g</key>
		<integer>-12</integer>
		<key>public.kern2.hyphen</key>
		<integer>-62</integer>
		<key>public.kern2.i</key>
		<integer>-28</integer>
		<key>public.kern2.j</key>
		<integer>-24</integer>
		<key>public.kern2.n</key>
		<integer>-24</integer>
		<key>public.kern2.o</key>
		<integer>-18</integer>
		<key>public.kern2.s</key>
		<integer>-18</integer>
		<key>public.kern2.t</key>
		<integer>-24</integer>
		<key>public.kern2.u</key>
		<integer>-24</integer>
		<key>public.kern2.w</key>
		<integer>-48</integer>
		<key>public.kern2.y</key>
		<integer>-48</integer>
		<key>v</key>
		<integer>-48</integer>
		<key>x</key>
		<integer>-36</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>V</key>
		<integer>-48</integer>
		<key>X</key>
		<integer>-38</integer>
		<key>public.kern2.O</key>
		<integer>-14</integer>
		<key>public.kern2.T</key>
		<integer>-54</integer>
		<key>public.kern2.U</key>
		<integer>-14</integer>
		<key>public.kern2.W</key>
		<integer>-48</integer>
		<key>public.kern2.Y</key>
		<integer>-64</integer>
		<key>public.kern2.quoteright</key>
		<integer>-68</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-40</integer>
		<key>public.kern2.w</key>
		<integer>-32</integer>
		<key>public.kern2.y</key>
		<integer>-32</integer>
		<key>slash</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-32</integer>
	</dict>
	<key>public.kern1.N</key>
	<dict>
		<key>V</key>
		<integer>-12</integer>
		<key>X</key>
		<integer>-48</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.O</key>
		<integer>-12</integer>
		<key>public.kern2.U</key>
		<integer>-8</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-22</integer>
		<key>public.kern2.a</key>
		<integer>-18</integer>
		<key>public.kern2.g</key>
		<integer>-14</integer>
		<key>public.kern2.hyphen</key>
		<integer>-12</integer>
		<key>public.kern2.i</key>
		<integer>-12</integer>
		<key>public.kern2.j</key>
		<integer>-12</integer>
		<key>public.kern2.n</key>
		<integer>-12</integer>
		<key>public.kern2.o</key>
		<integer>-18</integer>
		<key>public.kern2.s</key>
		<integer>-18</integer>
		<key>public.kern2.u</key>
		<integer>-16</integer>
		<key>public.kern2.w</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
		<key>public.kern2.z</key>
		<integer>-18</integer>
		<key>slash</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>V</key>
		<integer>-12</integer>
		<key>X</key>
		<integer>-50</integer>
		<key>public.kern2.A</key>
		<integer>-24</integer>
		<key>public.kern2.H</key>
		<integer>-10</integer>
		<key>public.kern2.N</key>
		<integer>-8</integer>
		<key>public.kern2.T</key>
		<integer>-12</integer>
		<key>public.kern2.U</key>
		<integer>-8</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-24</integer>
		<key>public.kern2.Z</key>
		<integer>-6</integer>
		<key>public.kern2.g</key>
		<integer>-6</integer>
		<key>public.kern2.period</key>
		<integer>-32</integer>
		<key>public.kern2.quoteright</key>
		<integer>-20</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-30</integer>
		<key>public.kern2.u</key>
		<integer>-8</integer>
		<key>public.kern2.w</key>
		<integer>-8</integer>
		<key>public.kern2.y</key>
		<integer>-8</integer>
		<key>public.kern2.z</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>10</integer>
		<key>slash</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-8</integer>
		<key>x</key>
		<integer>-8</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>V</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-56</integer>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.H</key>
		<integer>-12</integer>
		<key>public.kern2.O</key>
		<integer>-24</integer>
		<key>public.kern2.T</key>
		<integer>-20</integer>
		<key>public.kern2.U</key>
		<integer>-20</integer>
		<key>public.kern2.W</key>
		<integer>-24</integer>
		<key>public.kern2.Y</key>
		<integer>-28</integer>
		<key>public.kern2.a</key>
		<integer>-16</integer>
		<key>public.kern2.g</key>
		<integer>-18</integer>
		<key>public.kern2.h</key>
		<integer>-14</integer>
		<key>public.kern2.hyphen</key>
		<integer>-34</integer>
		<key>public.kern2.i</key>
		<integer>-14</integer>
		<key>public.kern2.j</key>
		<integer>-14</integer>
		<key>public.kern2.o</key>
		<integer>-24</integer>
		<key>public.kern2.quoteright</key>
		<integer>-36</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-30</integer>
		<key>public.kern2.t</key>
		<integer>-14</integer>
		<key>public.kern2.u</key>
		<integer>-14</integer>
		<key>public.kern2.w</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
		<key>public.kern2.z</key>
		<integer>-14</integer>
		<key>slash</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>V</key>
		<integer>-6</integer>
		<key>X</key>
		<integer>-38</integer>
		<key>public.kern2.H</key>
		<integer>-6</integer>
		<key>public.kern2.T</key>
		<integer>-8</integer>
		<key>public.kern2.U</key>
		<integer>-8</integer>
		<key>public.kern2.W</key>
		<integer>-6</integer>
		<key>public.kern2.Y</key>
		<integer>-7</integer>
		<key>public.kern2.quoteright</key>
		<integer>-10</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-10</integer>
		<key>public.kern2.u</key>
		<integer>-8</integer>
		<key>public.kern2.w</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
		<key>public.kern2.z</key>
		<integer>-8</integer>
		<key>slash</key>
		<integer>30</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>M</key>
		<integer>-12</integer>
		<key>X</key>
		<integer>-28</integer>
		<key>braceright</key>
		<integer>20</integer>
		<key>bracketright</key>
		<integer>20</integer>
		<key>exclam</key>
		<integer>10</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-42</integer>
		<key>public.kern2.O</key>
		<integer>-12</integer>
		<key>public.kern2.a</key>
		<integer>-64</integer>
		<key>public.kern2.f</key>
		<integer>-24</integer>
		<key>public.kern2.g</key>
		<integer>-64</integer>
		<key>public.kern2.hyphen</key>
		<integer>-52</integer>
		<key>public.kern2.n</key>
		<integer>-48</integer>
		<key>public.kern2.o</key>
		<integer>-64</integer>
		<key>public.kern2.period</key>
		<integer>-38</integer>
		<key>public.kern2.quoteright</key>
		<integer>32</integer>
		<key>public.kern2.quotesingle</key>
		<integer>30</integer>
		<key>public.kern2.s</key>
		<integer>-44</integer>
		<key>public.kern2.u</key>
		<integer>-36</integer>
		<key>public.kern2.w</key>
		<integer>-24</integer>
		<key>public.kern2.y</key>
		<integer>-24</integer>
		<key>public.kern2.z</key>
		<integer>-32</integer>
		<key>question</key>
		<integer>30</integer>
		<key>v</key>
		<integer>-24</integer>
		<key>x</key>
		<integer>-28</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>V</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-28</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-36</integer>
		<key>public.kern2.O</key>
		<integer>-12</integer>
		<key>public.kern2.S</key>
		<integer>-10</integer>
		<key>public.kern2.W</key>
		<integer>-10</integer>
		<key>public.kern2.Y</key>
		<integer>-15</integer>
		<key>public.kern2.a</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-18</integer>
		<key>public.kern2.i</key>
		<integer>-18</integer>
		<key>public.kern2.j</key>
		<integer>-18</integer>
		<key>public.kern2.n</key>
		<integer>-12</integer>
		<key>public.kern2.o</key>
		<integer>-18</integer>
		<key>public.kern2.s</key>
		<integer>-18</integer>
		<key>public.kern2.u</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-12</integer>
		<key>public.kern2.z</key>
		<integer>-14</integer>
		<key>v</key>
		<integer>-12</integer>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>M</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>-24</integer>
		<key>X</key>
		<integer>-42</integer>
		<key>exclam</key>
		<integer>12</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-62</integer>
		<key>public.kern2.H</key>
		<integer>-16</integer>
		<key>public.kern2.N</key>
		<integer>-18</integer>
		<key>public.kern2.O</key>
		<integer>-18</integer>
		<key>public.kern2.S</key>
		<integer>-18</integer>
		<key>public.kern2.U</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-18</integer>
		<key>public.kern2.a</key>
		<integer>-54</integer>
		<key>public.kern2.colon</key>
		<integer>-18</integer>
		<key>public.kern2.f</key>
		<integer>-24</integer>
		<key>public.kern2.g</key>
		<integer>-62</integer>
		<key>public.kern2.hyphen</key>
		<integer>-28</integer>
		<key>public.kern2.i</key>
		<integer>-24</integer>
		<key>public.kern2.j</key>
		<integer>-24</integer>
		<key>public.kern2.n</key>
		<integer>-48</integer>
		<key>public.kern2.o</key>
		<integer>-62</integer>
		<key>public.kern2.period</key>
		<integer>-54</integer>
		<key>public.kern2.quoteright</key>
		<integer>32</integer>
		<key>public.kern2.quotesingle</key>
		<integer>20</integer>
		<key>public.kern2.s</key>
		<integer>-50</integer>
		<key>public.kern2.t</key>
		<integer>-18</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>public.kern2.w</key>
		<integer>-36</integer>
		<key>public.kern2.y</key>
		<integer>-36</integer>
		<key>public.kern2.z</key>
		<integer>-58</integer>
		<key>question</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-36</integer>
		<key>x</key>
		<integer>-48</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>J</key>
		<integer>-32</integer>
		<key>M</key>
		<integer>-32</integer>
		<key>V</key>
		<integer>-24</integer>
		<key>X</key>
		<integer>-48</integer>
		<key>braceright</key>
		<integer>20</integer>
		<key>bracketright</key>
		<integer>20</integer>
		<key>exclam</key>
		<integer>12</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>-68</integer>
		<key>public.kern2.H</key>
		<integer>-34</integer>
		<key>public.kern2.N</key>
		<integer>-22</integer>
		<key>public.kern2.O</key>
		<integer>-32</integer>
		<key>public.kern2.S</key>
		<integer>-17</integer>
		<key>public.kern2.U</key>
		<integer>-20</integer>
		<key>public.kern2.W</key>
		<integer>-18</integer>
		<key>public.kern2.a</key>
		<integer>-78</integer>
		<key>public.kern2.colon</key>
		<integer>-28</integer>
		<key>public.kern2.f</key>
		<integer>-38</integer>
		<key>public.kern2.g</key>
		<integer>-72</integer>
		<key>public.kern2.hyphen</key>
		<integer>-48</integer>
		<key>public.kern2.i</key>
		<integer>-24</integer>
		<key>public.kern2.j</key>
		<integer>-24</integer>
		<key>public.kern2.n</key>
		<integer>-68</integer>
		<key>public.kern2.o</key>
		<integer>-78</integer>
		<key>public.kern2.period</key>
		<integer>-56</integer>
		<key>public.kern2.quoteright</key>
		<integer>32</integer>
		<key>public.kern2.quotesingle</key>
		<integer>20</integer>
		<key>public.kern2.s</key>
		<integer>-74</integer>
		<key>public.kern2.t</key>
		<integer>-50</integer>
		<key>public.kern2.u</key>
		<integer>-68</integer>
		<key>public.kern2.w</key>
		<integer>-64</integer>
		<key>public.kern2.y</key>
		<integer>-64</integer>
		<key>public.kern2.z</key>
		<integer>-74</integer>
		<key>question</key>
		<integer>18</integer>
		<key>v</key>
		<integer>-64</integer>
		<key>x</key>
		<integer>-64</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>X</key>
		<integer>-26</integer>
		<key>public.kern2.w</key>
		<integer>-24</integer>
		<key>public.kern2.y</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>-24</integer>
	</dict>
	<key>public.kern1.a</key>
	<dict>
		<key>public.kern2.g</key>
		<integer>-10</integer>
		<key>public.kern2.hyphen</key>
		<integer>-12</integer>
		<key>public.kern2.quoteright</key>
		<integer>-30</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-40</integer>
		<key>public.kern2.t</key>
		<integer>-6</integer>
		<key>public.kern2.w</key>
		<integer>-18</integer>
		<key>public.kern2.y</key>
		<integer>-18</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>v</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-8</integer>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>public.kern2.quoteright</key>
		<integer>0</integer>
		<key>slash</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.d</key>
	<dict>
		<key>public.kern2.hyphen</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-10</integer>
		<key>public.kern2.y</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>v</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.dcaron</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-28</integer>
		<key>public.kern2.colon</key>
		<integer>-24</integer>
		<key>public.kern2.o</key>
		<integer>-24</integer>
		<key>public.kern2.period</key>
		<integer>-24</integer>
		<key>public.kern2.s</key>
		<integer>0</integer>
		<key>public.kern2.u</key>
		<integer>-24</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>public.kern2.quotesingle</key>
		<integer>-40</integer>
		<key>slash</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.g</key>
	<dict>
		<key>parenright</key>
		<integer>30</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.colon</key>
		<integer>18</integer>
		<key>public.kern2.j</key>
		<integer>20</integer>
		<key>public.kern2.quoteright</key>
		<integer>36</integer>
		<key>public.kern2.quotesingle</key>
		<integer>10</integer>
		<key>public.kern2.u</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-16</integer>
		<key>public.kern2.y</key>
		<integer>-8</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>v</key>
		<integer>-16</integer>
		<key>x</key>
		<integer>-8</integer>
	</dict>
	<key>public.kern1.hyphen</key>
	<dict>
		<key>V</key>
		<integer>-28</integer>
		<key>X</key>
		<integer>-54</integer>
		<key>five</key>
		<integer>-38</integer>
		<key>public.kern2.A</key>
		<integer>-18</integer>
		<key>public.kern2.T</key>
		<integer>-52</integer>
		<key>public.kern2.W</key>
		<integer>-28</integer>
		<key>public.kern2.Y</key>
		<integer>-48</integer>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-14</integer>
		<key>public.kern2.y</key>
		<integer>-14</integer>
		<key>seven</key>
		<integer>-28</integer>
		<key>three</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-14</integer>
		<key>x</key>
		<integer>-16</integer>
	</dict>
	<key>public.kern1.i</key>
	<dict>
		<key>slash</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.j</key>
	<dict>
		<key>parenright</key>
		<integer>30</integer>
		<key>slash</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-22</integer>
		<key>public.kern2.g</key>
		<integer>-38</integer>
		<key>public.kern2.h</key>
		<integer>-12</integer>
		<key>public.kern2.hyphen</key>
		<integer>-52</integer>
		<key>public.kern2.i</key>
		<integer>-18</integer>
		<key>public.kern2.j</key>
		<integer>-18</integer>
		<key>public.kern2.n</key>
		<integer>-16</integer>
		<key>public.kern2.o</key>
		<integer>-32</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-10</integer>
		<key>public.kern2.s</key>
		<integer>-18</integer>
		<key>public.kern2.t</key>
		<integer>-27</integer>
		<key>public.kern2.u</key>
		<integer>-36</integer>
		<key>public.kern2.w</key>
		<integer>-42</integer>
		<key>public.kern2.y</key>
		<integer>-52</integer>
		<key>public.kern2.z</key>
		<integer>-18</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>v</key>
		<integer>-58</integer>
		<key>x</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.l</key>
	<dict>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.w</key>
		<integer>-8</integer>
		<key>public.kern2.y</key>
		<integer>-8</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>v</key>
		<integer>-8</integer>
		<key>x</key>
		<integer>-6</integer>
	</dict>
	<key>public.kern1.n</key>
	<dict>
		<key>public.kern2.h</key>
		<integer>-6</integer>
		<key>public.kern2.quoteright</key>
		<integer>-30</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-60</integer>
		<key>public.kern2.w</key>
		<integer>-10</integer>
		<key>public.kern2.y</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-8</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-28</integer>
		<key>public.kern2.quoteright</key>
		<integer>-30</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-40</integer>
		<key>public.kern2.w</key>
		<integer>-6</integer>
		<key>public.kern2.y</key>
		<integer>-8</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>v</key>
		<integer>-6</integer>
		<key>x</key>
		<integer>-14</integer>
	</dict>
	<key>public.kern1.period</key>
	<dict>
		<key>V</key>
		<integer>-54</integer>
		<key>public.kern2.O</key>
		<integer>-32</integer>
		<key>public.kern2.T</key>
		<integer>-38</integer>
		<key>public.kern2.W</key>
		<integer>-54</integer>
		<key>public.kern2.Y</key>
		<integer>-56</integer>
		<key>public.kern2.o</key>
		<integer>-28</integer>
		<key>public.kern2.quoteright</key>
		<integer>-70</integer>
		<key>public.kern2.w</key>
		<integer>-52</integer>
		<key>public.kern2.y</key>
		<integer>-52</integer>
		<key>v</key>
		<integer>-52</integer>
	</dict>
	<key>public.kern1.quoteleft</key>
	<dict>
		<key>V</key>
		<integer>32</integer>
		<key>public.kern2.A</key>
		<integer>-90</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.T</key>
		<integer>32</integer>
		<key>public.kern2.W</key>
		<integer>32</integer>
		<key>public.kern2.Y</key>
		<integer>32</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.g</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.t</key>
		<integer>24</integer>
		<key>public.kern2.w</key>
		<integer>20</integer>
		<key>public.kern2.y</key>
		<integer>20</integer>
		<key>public.kern2.z</key>
		<integer>0</integer>
		<key>v</key>
		<integer>20</integer>
		<key>x</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.quoteright</key>
	<dict>
		<key>V</key>
		<integer>32</integer>
		<key>public.kern2.A</key>
		<integer>-90</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.T</key>
		<integer>32</integer>
		<key>public.kern2.W</key>
		<integer>32</integer>
		<key>public.kern2.Y</key>
		<integer>32</integer>
		<key>public.kern2.a</key>
		<integer>-38</integer>
		<key>public.kern2.f</key>
		<integer>-20</integer>
		<key>public.kern2.g</key>
		<integer>-60</integer>
		<key>public.kern2.h</key>
		<integer>20</integer>
		<key>public.kern2.i</key>
		<integer>10</integer>
		<key>public.kern2.n</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>public.kern2.u</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.quotesingle</key>
	<dict>
		<key>V</key>
		<integer>20</integer>
		<key>eight</key>
		<integer>-18</integer>
		<key>five</key>
		<integer>-19</integer>
		<key>four</key>
		<integer>-54</integer>
		<key>public.kern2.A</key>
		<integer>-80</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.T</key>
		<integer>30</integer>
		<key>public.kern2.W</key>
		<integer>20</integer>
		<key>public.kern2.Y</key>
		<integer>20</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.f</key>
		<integer>-20</integer>
		<key>public.kern2.g</key>
		<integer>-60</integer>
		<key>public.kern2.n</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>public.kern2.t</key>
		<integer>10</integer>
		<key>public.kern2.w</key>
		<integer>20</integer>
		<key>public.kern2.y</key>
		<integer>20</integer>
		<key>v</key>
		<integer>20</integer>
		<key>zero</key>
		<integer>-24</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-18</integer>
		<key>public.kern2.colon</key>
		<integer>24</integer>
		<key>public.kern2.hyphen</key>
		<integer>-28</integer>
		<key>public.kern2.period</key>
		<integer>-36</integer>
		<key>public.kern2.quoteright</key>
		<integer>38</integer>
	</dict>
	<key>public.kern1.s</key>
	<dict>
		<key>public.kern2.quotesingle</key>
		<integer>-40</integer>
		<key>public.kern2.w</key>
		<integer>-6</integer>
		<key>public.kern2.y</key>
		<integer>-6</integer>
		<key>slash</key>
		<integer>30</integer>
		<key>v</key>
		<integer>-6</integer>
		<key>x</key>
		<integer>-8</integer>
	</dict>
	<key>public.kern1.t</key>
	<dict>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.g</key>
		<integer>-12</integer>
		<key>public.kern2.quoteright</key>
		<integer>24</integer>
		<key>public.kern2.quotesingle</key>
		<integer>0</integer>
		<key>public.kern2.t</key>
		<integer>-18</integer>
		<key>public.kern2.u</key>
		<integer>-8</integer>
		<key>public.kern2.w</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
		<key>public.kern2.z</key>
		<integer>-8</integer>
		<key>slash</key>
		<integer>30</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.tcaron</key>
	<dict>
		<key>exclam</key>
		<integer>40</integer>
		<key>grave</key>
		<integer>40</integer>
		<key>parenright</key>
		<integer>40</integer>
		<key>public.kern2.h</key>
		<integer>50</integer>
		<key>public.kern2.j</key>
		<integer>20</integer>
		<key>public.kern2.quoteleft</key>
		<integer>30</integer>
		<key>public.kern2.quotesingle</key>
		<integer>40</integer>
		<key>question</key>
		<integer>60</integer>
	</dict>
	<key>public.kern1.u</key>
	<dict>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.g</key>
		<integer>-6</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.w</key>
	<dict>
		<key>b</key>
		<integer>-12</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.a</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-30</integer>
		<key>public.kern2.h</key>
		<integer>-8</integer>
		<key>public.kern2.hyphen</key>
		<integer>-14</integer>
		<key>public.kern2.n</key>
		<integer>-14</integer>
		<key>public.kern2.o</key>
		<integer>-12</integer>
		<key>public.kern2.period</key>
		<integer>-52</integer>
		<key>public.kern2.quoteright</key>
		<integer>30</integer>
		<key>public.kern2.quotesingle</key>
		<integer>20</integer>
		<key>public.kern2.s</key>
		<integer>-12</integer>
		<key>public.kern2.u</key>
		<integer>-8</integer>
		<key>public.kern2.w</key>
		<integer>-18</integer>
		<key>public.kern2.y</key>
		<integer>-18</integer>
		<key>public.kern2.z</key>
		<integer>-8</integer>
		<key>v</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-18</integer>
	</dict>
	<key>public.kern1.y</key>
	<dict>
		<key>b</key>
		<integer>-8</integer>
		<key>public.kern2.a</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-32</integer>
		<key>public.kern2.h</key>
		<integer>-8</integer>
		<key>public.kern2.hyphen</key>
		<integer>-14</integer>
		<key>public.kern2.n</key>
		<integer>-14</integer>
		<key>public.kern2.o</key>
		<integer>-16</integer>
		<key>public.kern2.period</key>
		<integer>-52</integer>
		<key>public.kern2.quoteright</key>
		<integer>30</integer>
		<key>public.kern2.quotesingle</key>
		<integer>20</integer>
		<key>public.kern2.s</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-18</integer>
		<key>public.kern2.y</key>
		<integer>-18</integer>
		<key>public.kern2.z</key>
		<integer>-14</integer>
		<key>v</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>public.kern1.z</key>
	<dict>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.quoteright</key>
		<integer>30</integer>
		<key>slash</key>
		<integer>50</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>public.kern2.quoteright</key>
		<integer>-10</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-30</integer>
		<key>public.kern2.w</key>
		<integer>-10</integer>
		<key>public.kern2.y</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>J</key>
		<integer>70</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>public.kern2.W</key>
		<integer>-18</integer>
		<key>public.kern2.Y</key>
		<integer>-32</integer>
		<key>public.kern2.j</key>
		<integer>70</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>g</key>
		<integer>-18</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>five</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-48</integer>
		<key>public.kern2.hyphen</key>
		<integer>-22</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
		<key>public.kern2.quotesingle</key>
		<integer>12</integer>
		<key>six</key>
		<integer>-22</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-12</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>J</key>
		<integer>20</integer>
		<key>M</key>
		<integer>20</integer>
		<key>V</key>
		<integer>30</integer>
		<key>b</key>
		<integer>38</integer>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.H</key>
		<integer>20</integer>
		<key>public.kern2.N</key>
		<integer>20</integer>
		<key>public.kern2.O</key>
		<integer>20</integer>
		<key>public.kern2.S</key>
		<integer>30</integer>
		<key>public.kern2.T</key>
		<integer>60</integer>
		<key>public.kern2.U</key>
		<integer>30</integer>
		<key>public.kern2.W</key>
		<integer>30</integer>
		<key>public.kern2.Y</key>
		<integer>30</integer>
		<key>public.kern2.a</key>
		<integer>-28</integer>
		<key>public.kern2.g</key>
		<integer>-20</integer>
		<key>public.kern2.h</key>
		<integer>38</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-50</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-32</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-18</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>b</key>
		<integer>-12</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.a</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-30</integer>
		<key>public.kern2.h</key>
		<integer>-8</integer>
		<key>public.kern2.hyphen</key>
		<integer>-14</integer>
		<key>public.kern2.n</key>
		<integer>-14</integer>
		<key>public.kern2.o</key>
		<integer>-12</integer>
		<key>public.kern2.period</key>
		<integer>-52</integer>
		<key>public.kern2.quoteright</key>
		<integer>30</integer>
		<key>public.kern2.quotesingle</key>
		<integer>20</integer>
		<key>public.kern2.s</key>
		<integer>-12</integer>
		<key>public.kern2.u</key>
		<integer>-8</integer>
		<key>public.kern2.w</key>
		<integer>-18</integer>
		<key>public.kern2.y</key>
		<integer>-18</integer>
		<key>public.kern2.z</key>
		<integer>-16</integer>
		<key>v</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-18</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>o</key>
		<integer>-26</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>public.kern2.g</key>
		<integer>-14</integer>
		<key>public.kern2.h</key>
		<integer>-8</integer>
		<key>public.kern2.hyphen</key>
		<integer>-16</integer>
		<key>public.kern2.o</key>
		<integer>-16</integer>
		<key>public.kern2.quoteright</key>
		<integer>30</integer>
		<key>public.kern2.s</key>
		<integer>-14</integer>
		<key>public.kern2.w</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>public.kern2.quotesingle</key>
		<integer>-24</integer>
		<key>seven</key>
		<integer>-18</integer>
		<key>two</key>
		<integer>-6</integer>
	</dict>
</dict>
</plist>